@model EventGroupProject.Models.Events

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<div>
    <div style="display:inline">
        <h2>@Html.DisplayFor(model => model.EventName)</h2>
        <a class="deleteButton" id="deleteEventButton" onclick="deleteEvent()">Delete Event</a>
    </div>
</div>

<div id="main-pane">
    <div id="details-pane" class="info-text">
        <div class="pane-header">
            Details:
        </div>
        <div class="scrollable-list">
            <div class="detail-box">
                <div class="info-text">
                    Host:
                </div>
                <div class="info-text">
                    @Html.DisplayFor(model => model.EventCreator.UserDisplayName)
                </div>
            </div>
            <div class="detail-box">
                <div class="info-text">
                    City:
                </div>
                <div class="info-text">
                    @Html.DisplayFor(model => model.City)
                </div>
            </div>
            <div class="detail-box">
                <div class="info-text">
                    Location:
                </div>
                <div class="info-text">
                    @Html.DisplayFor(model => model.Location)
                </div>
            </div>
            <div class="detail-box">
                <div class="info-text">
                    Day & Time:
                </div>
                <div class="info-text">
                    @Html.DisplayFor(model => model.StartTime)
                </div>
            </div>
            <div class="detail-box">
                <div class="info-text">
                    Duration:
                </div>
                <div class="info-text" id="duration-field">
                    
                </div>
            </div>
            <div class="detail-box">
                <div class="info-text">
                    Cost:
                </div>
                <div class="info-text">
                    $@Html.DisplayFor(model => model.Price)
                </div>
            </div>
            <div class="detail-box">
                <div class="info-text">
                    Description:
                </div>
                <div class="info-text">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>
    </div>
    <div id="users-pane" class="info-text">
        <div class="pane-header">Signed Up Users:</div>
        <div class="scrollable-list">
            @foreach (var user in Model.SignedUpUsers)
            {
                <div>@user.UserDisplayName</div>
            }
        </div>
    </div>
    <div id="comment-pane" class="info-text">
        <div id="loading-icon" class="loader">

        </div>
        <div id="not-signed-up-window">
            <div class="pane-header">To view this event's comments please sign up.</div>
            <button class="save-button" id="join-event-btn" onclick="joinEvent()">Join</button>
        </div>
        <div id="signed-up-window">
            <div class="pane-header">Comments: </div>
            <div>
                <textarea id="comment-box" placeholder="Leave a comment.."></textarea>
                <button id="submit-comment-btn" onclick="newComment()">Submit</button>
            </div>
            <div id="comments-partial-view">
                @Html.Partial("_EventComments", new System.Collections.Generic.List<Comments>())
            </div>
        </div>
    </div>

</div>



<script type="text/javascript">
    $("#signed-up-window").hide();
    $("#not-signed-up-window").hide();
    $("#loading-icon").show();
    $("#duration-field").html(convertDuration());

    var eventId = @Model.EventId;
    var userId;

    var admin = false;
    var eventCreator = false;

    $(document).ready(function () {

        $("#deleteEventButton").hide();
        isUserSignedUp(function user_signed_up_cb(response) {
            $("#loading-icon").hide();
            if (response) {
                loadComments();
                window.setInterval("loadComments()", 3000);
                $("#signed-up-window").show();
                $("#not-signed-up-window").hide();
            }
            else {
                $("#signed-up-window").hide();
                $("#not-signed-up-window").show();
            }
        });

        isUserAdmin(function user_is_admin_cb(response) {
            if (response) {
                $("#del-comment-btn").show();
                $("#deleteEventButton").show();
                admin = true;
            }
        });

        isUserEventCreator(function user_is_event_creator_cb(response) {
            if (response) {
                $("#del-comment-btn").show();
                $("#deleteEventButton").show();
                eventCreator = true;
            }
        });
    });

    function convertDuration(){
        var durationHours = Math.round(parseInt(@Model.Duration) / 60);
        var durationMins = parseInt(@Model.Duration) % 60;

        var durationOutput;
        if (durationMins == 0) {
            durationOutput = durationHours + " hours";
        }
        else if (durationHours == 0) {
            durationOutput = durationMins + " minutes"
        }
        else {
            durationOutput = durationHours + " hours " + durationMins + " minutes";
        }
        return durationOutput;
    }

    function loadComments() {
        var scrollPosition = $("#comments-list").scrollTop();
        $.ajax({
            url: "_EventComments",
            type: "GET",
            datatype: 'html',
            data: {eventId : eventId},
            success: function (result) {
                $("#comments-partial-view").html(result);
                $("#comments-list").scrollTop(scrollPosition);
                if (admin || eventCreator) {
                    $(".delCommentBtn").css("visibility", "visible");
                }
            }
        });
    }

    function newComment() {

        var commentBody = $("#comment-box").val();
        if (commentBody === "") {
            alert("Comment box can not be empty.");
            return;
        }

        $.ajax({
            type: "POST",
            url: "SaveCommentData",
            data: {
                commentBody: commentBody, eventId: eventId
            },
            success: function (response) {
                $("#comment-box").val('');
                loadComments();
                $("#comments-list").scrollTop(0);
            }
        });   
    }

    function isUserSignedUp(user_signed_up_cb) {
        $.ajax({
            type: "GET",
            url: "IsUserSignedUp",
            contentType: "application/json;charset=utf-8",
            data: { userId: userId, eventId: eventId },
            dataType: "json",
            success: function (response) {
                user_signed_up_cb(response);
            }
        });
    }

    function isUserAdmin(user_is_admin_cb) {
        $.ajax({
            type: "GET",
            url: "IsUserAdmin",
            contentType: "application/json;charset=uth-8",
            success: function (response) {
                user_is_admin_cb(response);
            }
        });
    }

    function isUserEventCreator(user_is_event_creator_cb) {
        $.ajax({
            type: "GET",
            url: "IsUserEventCreator",
            data: { eventId: eventId },
            datatype: "json",
            success: function (response) {
                user_is_event_creator_cb(response);
            }
        });
    }

    function joinEvent() {
        $.ajax({
            type: "POST",
            url: "AddUserToEvent", //Controller Method to Invoke
            data: {
                eventId: eventId
            },
            success: function (response) {
                location.reload(); //Reload webpage once user is added to page
            }
        });
    }


    function deleteEvent() {
        if (!confirm("Are you sure you want to delete the event?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: "DeleteEvent",
            data: {
                eventId:  eventId
            },
            success: function () {
                var url = "/Home/Index";
                window.location.href = url;
            }
        });

    }

    
    function leaveEvent(eventId) {
        $.ajax({
            type: "POST",
            url: "DeleteUserFromEvent",
            data: {
                eventId : eventId
            },
        });
    }

    function deleteComment(commentId) {
        $.ajax({
            type: "POST",
            url: "DeleteComment",
            data: {
                commentId : commentId
            },
        });
        loadComments();
    }
</script>

<style type="text/css">
    #main-pane {
        height: 100%;
        margin-top: 50px;
    }

    #comment-pane {
        border-radius: 12px;
        height: 500px;
        width: 45%;
        margin: auto;
    }

    #details-pane {
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 12px;
        height: 500px;
        float: left;
        width: 25%;
        background-color: #249170;
        -webkit-box-shadow: 3px 3px 5px 6px #006747;
        -moz-box-shadow: 3px 3px 5px 6px #006747;
        box-shadow: 3px 3px 5px 6px #006747; 
    }

    #users-pane {
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 12px;
        height: 500px;
        float: right;
        width: 25%;
        background-color: #249170;
        -webkit-box-shadow: 3px 3px 5px 6px #006747; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: 3px 3px 5px 6px #006747; /* Firefox 3.5 - 3.6 */
        box-shadow: 3px 3px 5px 6px #006747; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }

    .scrollable-list {
        overflow-y: auto;
        max-height: 90%;
    }

    .detail-box {
        margin-bottom: 15px;
    }

        .detail-box > div:first-of-type {
            font-weight: bold;
        }

    .pane-header {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 15px;
    }

    #comments-list {
        width: 100%;
        overflow-y: scroll;
        background: white;
        height: 350px;
        max-height: 350px;
        min-height: 350px;
        color: black;
        margin-top: -7px;
        border: 1px solid black;
    }

    #not-signed-up-window, #join-event-btn{
        width: 50%;
        margin: auto;
        text-align: center;
    }

    #comment-box {
        color: black;
        height: 75px;
        width: 100%;
        resize: none;
        margin-bottom: 0;
        border: 1px solid black;
    }

    #single-comment{
        margin-left: 5px;
    }

    #comment-user-name {
        font-size: 14px;
        color: #595959;
    }

    #del-comment-btn{
        float:right;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    hr {
        margin-top: 1px;
        border-color: #cccccc;
    }

    #submit-comment-btn {
        background-color: #cccccc;
        border-color: black;
        width: 20%;
        float:left;
        color: black !important;
        text-align: center;
        margin-top: -5px;
        margin-bottom: 5px;
    }

    .delCommentBtn{
        visibility: hidden;
    }

    .deleteButton{
        float:right;
        color:red;
        font-size:16px;
        
    }

    .deleteButton:hover{
        color:red;
        text-decoration:underline;
        cursor:pointer;
    }
</style>

